<!doctype html>
<html lang="eng">
<head>
    {{ include('@layout/head.html.twig') }}
</head>
<body>
{% block content %}
{% endblock %}
{% block javascript %}
    {{ include('@layout/foot.html.twig') }}
{% endblock %}
</body>
</html>